
*{
    border: 0;
    padding: 0;
    margin: 0;
}

nav{   
    position: sticky;
    top:0;
    left:0;
    height: 60px;

    background-color: white;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(211, 211, 211);

    display: flex;
    align-items: center;
    
    white-space: nowrap;
    flex-wrap: nowrap;
    z-index: 100;
    
    transition: background-color 0.3s, opacity 0.3s;
}
.nav-transparent{   
    position: sticky;
    top:0;
    left:0;
    height: 60px;

    background-color: rgb(255,255,255,0.5);
    
    display: flex;
    align-items: center;
    
    white-space: nowrap;
    flex-wrap: nowrap;
    z-index: 100;
    
    transition: background-color 0.3s, opacity 0.3s;
}


/* LOGO */
.logo{
    position: relative;
    top: 1px;
    height:30px;
    width:30px;
    margin-left: 10vw;
    margin-right: 10px;

    justify-self: flex-start;
}
.logo:hover{
    cursor: pointer; 
}
.logo--text{
    all: unset;
    padding: 0px;
    margin: 0px;
    margin-right:auto;

    font-weight: 500;
    font-size: 24px;
    color: rgb(0, 100, 0);
}
.logo--text:hover{
    font-weight: 500;
    color: rgb(0, 100, 0);
    cursor: pointer;
}


/* The 3 Nav Buttons */
@media screen and (min-width: 768px) {
    .nav--menu{
        display: flex;
        padding: 0;
    }
    .nav--menu li{
        list-style-type: none;
        margin: 0 1rem;
    }

    .analyze{
        all: unset;
        transition-duration: 0.05s;
        color: black;
    }
    .analyze:hover{
        color: green;
        font-weight: 499;
        cursor: pointer;
    }

    .nav--Home > a{
        margin-left: 10vw;
        margin-right: 0vw;
    }
    .nav--Analyze > a{
        margin: 0px;
        padding: 0px;
    }
    .nav--About > a{
        margin-left: 0vw;
        margin-right: 10vw;
    }
    .solid-nav {
        background-color: #aaa;
        transition: background-color 0.2s linear;
    }
}
@media screen and (max-width: 768px) {
    .nav--menu{
        display: none;
    }
    .nav--menu.expanded{
        position: absolute;
        top: 44px;
        left: 0px;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
        border-top: 1px solid black;
        display: block;
    }
    li .analyze {
        color: black;
        width: 100%;
        /* padding: 1.5rem 0; */
    }
    li:hover {
        background-color: #eee;
    } 
    .nav--menu{
        display: flex;
        padding: 0;
    }
    .nav--menu li{
        color: black;
        list-style-type: none;
        text-align: center;
        margin: 0 1rem;
    }

    .analyze.expanded{
        all: unset;
        transition-duration: 0.05s;
        color: black;
    }
    .analyze{
        all: unset;
        transition-duration: 0.05s;
        color: black;
        display: none;
    }
    .analyze:hover{
        color: green;
        font-weight: 499;
        cursor: pointer;
    }

}
    


/*HAMBURGER*/
.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;/* background-color: #283b8b; */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}
.hamburger:hover {
    background-color: rgb(225,225,225);/* background-color: #2642af; */
}
@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
}
@media screen and (max-width: 768px) {
    .nav--menu{
      /* display: none; */
    }
}