*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family:'Inter', 'Segoe UI', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 20px 0 20px 30px;
}

.results--page--header{
    display: flex;
}
.results--page--header > h2{
    font-family:'Inter', 'Segoe UI', sans-serif;
    font-weight:lighter;
}
/* .results--header--number{
    margin-left: 2.5vw
} */
.results--header--disease{
    margin-left: 70px;
}
.results--header--probability{
    margin-left: auto;
    margin-right: 85px;
}
.results--header--remedy{
    margin-right: 65px;
}

.result--card{
    display: flex;
    margin: 10px;
    padding:  0 10px 0 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-content: center;
}
.result--card--number{
    font-family:'Inter', 'Segoe UI', sans-serif;
    font-weight: normal;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}
.result--card--name{
    font-family:'Inter', 'Segoe UI', sans-serif;
    font-weight: normal;
    align-self: center;
    margin-right: auto;
}
.result--card--percentage{
    font-family:'Inter', 'Segoe UI', sans-serif;
    font-weight: normal;
    align-self: center;
    margin-left: 1vw;
    margin-right: 60px;
}
.result--card > a{
    align-self: center;
    margin-right: 0px;
}
.result--card > a > button{
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 200px;
    border: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }
.result--card > a > button:hover {
    background: #00bd68;
}


.results--page{
    background-color: rgba(0, 0, 0, 0.05);
    height: 100vh;
    width: auto;
}

@media screen and (max-width:768px){
    .results--header--disease{
        font-size: small;
        margin-left: 30px;
    }
    .results--header--probability{
        margin-left: auto;
        margin-right: 7%;
    }
    .results--header--remedy{
        margin-right: 35px;
    }
    .result--card{
        display: flex;
        margin: 10px;
        padding:  0 10px 0 10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        align-content: center;
        max-width: 100vw;
    }
    .results--page--header > h2{
        font-family:'Inter', 'Segoe UI', sans-serif;
        font-size: medium;
    }
    .result--card--number{
        font-size: x-small;
        align-self: center;
        margin-left: 1vw;
        margin-right: 10px;
    }
    .result--card--name{
        font-size: x-small;
        align-self: center;
        margin-left: 0px;
        padding: 0px;
    }
    .result--card--percentage{
        font-size: x-small;
        align-self: center;
        margin-right: 10%;
    }
    .result--card > a > button{
        background-color: initial;
        background-image: linear-gradient(-180deg, #00D775, #00BD68);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-family: 'inter', sans-serif;
        /* font-weight: bold; */
        height: 44px;
        line-height: 44px;
        outline: 0;
        overflow: hidden;
        padding: 0 5px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 100px;
        border: 0;
        margin-top: 8%;
        margin-bottom: 8%;
      }
}
