@import "react-image-crop/dist/ReactCrop.css";

.maindiv{
    background-color: #f4f6fa;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 0px;
    padding: 0px;
}


/* 
nav {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: fixed;
    top: 0; 
    width: 100%; 
    box-shadow: 0px 0px 9px 0px;
    justify-content:center;
    align-items: center;
    z-index: 9999;
}
.nav--title{
    margin-left: 30px;
}
.nav--title--text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}
.nav--element--text:hover{
    color:  #3ccdf9;
    color:  #2c6bab;
}
nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}
nav > ul > li{
    display: inline-block;
    margin-right:50px;
}
.nav--element--text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    position: relative;
    display: inline-block;
}

.nav_buttons {
    position: absolute;
    width: 150px;
    height: 28px;
    left: 706px;
    top: 20px;
    margin: 0 0 0 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: #FFFFFF;
} */

/* 
.nav--Home {
    position: absolute;
    top: 4.5%;
    left: 2.5%;
    background-color: rgb(123, 176, 76);
    border-radius: 17px;
    padding: 5px 7px 5px 7px;
    color: white;
    font-family: 'Poppins';
    margin: 0px 0px 0px 0px;
    font-size: 3vh;
}
.nav--Analyze {
    position: absolute;
    top: 4.5%;
    left: 55%;
    background-color: rgb(123, 176, 76);
    border-radius: 17px;
    padding: 5px 7px 5px 7px;
    color: white;
    font-family: 'Poppins';
    margin: 0px 0px 0px 0px;
    font-size: 3vh;
}
.nav--About {
    position: absolute;
    top: 4.5%;
    left: 75%;
    background-color: rgb(123, 176, 76);
    border-radius: 17px;
    padding: 5px 7px 5px 7px;
    color: white;
    font-family: 'Poppins';
    margin: 0px 0px 0px 0px;
    font-size: 3vh;
} */

/* .home--container{
    margin-top: 30vh;
    margin-bottom: auto;
    display: contents;
}
.home_back {
    text-align: center;
    font-family: 'Quattrocento';
    background-color: white;
    height:100vh;  
}
.home--image{
    width: 200px;
    margin-top: 150px;
}
.home--text{
    font-family: "Cabin";
    margin: 0px 0px;
}
.hometocrop--button {
    border: 2px solid #0a8fb8;
    margin-top: 20px;
    height: 50px;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 20px 1px 20px;
    transition-duration: 0.4s;
}
.hometocrop--button:hover {
    background-color: white;
    border: 5px solid #1598c0;
} */


/* 
.green_circle {
    position: absolute;
    width: 50vw;
    height: 95vh;
    right: 0px;
    top: -106px;
}

.robo {
    position: absolute;
    width: 45vw;
    height: 92vh;
    right: 0%;
    top: 0%;
}

.crop {
    position: absolute;
    width: 25vw;
    height: 40vh;
    left: 67%;
    top: 17%;
}

.white1 {
    position: absolute;
    width: 420px;
    height: 241px;
    right: 0%;
    top: 60%;

}

.white2 {
    position: absolute;
    width: 389px;
    height: 300px;
    left: 50%;
    top: 53%;
}
*/

.inbox {
    border: 2px solid rgb(15, 200, 15);
    border-radius: 25px;
    padding: 0px 20px 0px 0px;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.inbox > h2{
    margin-left: 30px;
}
.home_content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.border1 {
    position: absolute;
    right: 0px;
    bottom: 0%;
    margin: 0px 0px 0px 0px;
    height: 40vh;
    width: 25vw;
    z-index: 0;
}

.border2 {
    position: absolute;
    left: 0px;
    top: 0%;
    margin: 0px 0px 0px 0px;
    height: 50vh;
    width: 25vw;
    z-index: 0;
}

.border3 {
    position: absolute;
    right: 0px;
    height: 20vh;
    width: 13vw;
    top: 8%;
    margin: 0px 0px 0px 0px;
    z-index: 0;
}

.border4 {
    position: absolute;
    left: 0px;
    height: 32vh;
    width: 17vw;
    bottom: 0%;
    margin: 0px 0px 0px 0px;
    z-index: 0;
}

.heading {
    position: absolute;
    width:fit-content;
    height:fit-content;
    top: 25vh;
    border-radius: 25px;
    border: 2px solid rgb(15, 200, 15);
    padding: 1px 1px 1px 1px;
    text-align: center;
}

.inbox > h1 {
    color: black;
    display: flex;
    /* justify-content: center;  */
    /* align-items: center; */
    font-family: 'Poppins';
    font-size: 10vh;
    font-weight:lighter;
    position: relative;
    margin: 0px 0px 0px 0px;
    height:inherit;
}
.inbox > h2 {
	color: white;
	font-size: 5vw;
	position: relative;
    margin-top: 0;
    margin-bottom: 0;
	/* text-transform: uppercase; */
	-webkit-text-stroke: 0.3vw black;
}

.inbox > h2::before {
	top: 0;
	left: 0;
	width: 0;
	height: 90%;
	color: #070000;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #565252; /* cursor*/
	-webkit-text-stroke: 0vw #5114f7;
	animation: animate 3s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}

.Home_content {
    position: absolute;
    width: 40vw;
    height: 10vh;
    font-size: smaller;
    text-align: center;
    top: 35%; 
}

.home_text {
    font-family: 'Poppins';
    font-style: normal;
    font-size: small;
    color: #070000;
}
/* 
.second_page {
    height: 100vh;
    background-color: #CFF5E7;
}
.second_page--container{
    margin-top: 10vh;
    height: 100%;
    background-color: #CFF5E7;
    display: flex;
    flex-direction: row;
}
.buttons-panel > input{
    display: none;
}
.buttons-panel > button{
    margin: 3px;
}
.buttons-panel{
    display: flex;  
    flex-direction: column;
    width: 20lh;
    margin: 20px;
    justify-content: center;
    height: 80vh;
}
.crop--view{
    background-color: #A0E4CB;
    display: flex;
    margin: 20px;
    margin-top: 50px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-radius: 10px;
}

canvas{
    display: none;
} */

.page--about{
    background-color: #576CBC;
    height: 30vh;
}
.page--about--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.page--about--container > h2 {
    display: inline-block;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}
.page--about--container > h1 {
    /* display: inline-block; */
    margin-top: 2px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

