@import "react-image-crop/dist/ReactCrop.css";

.maindiv{
    background-color: #f4f6fa;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 0px;
    padding: 0px;
}



nav {
    background-color: #0D4C92;/*91d56*/
    display: flex;
    flex-direction: row;
    height: 10vh;
    position: fixed;
    top: 0; 
    width: 100%; 
    box-shadow: 0px 0px 9px 0px;
    justify-content:center;
    align-items: center;
    z-index: 9999;
}
.nav--title{
    margin-left: 30px;
}
.nav--title--text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}
.nav--element--text:hover{
    color:  #3ccdf9;
    color:  #2c6bab;
}
nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}
nav > ul > li{
    display: inline-block;
    margin-right:50px;
}
.nav--element--text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}


.home--container{
    margin-top: 10vh;
}
.home_back {
    text-align: center;
    font-family: 'Quattrocento';
    background-color: white;
    height:100vh;  
}
.home--image{
    width: 200px;
    margin-top: 80px;
}
.home--text{
    font-family: "Cabin";
    /* width: 40px; */
    margin: 0px 0px;
}
.hometocrop--button {
    border: 2px solid #0a8fb8;
    margin-top: 20px;
    height: 50px;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 20px 1px 20px;
    transition-duration: 0.4s;
}
.hometocrop--button:hover {
    background-color: white;
    border: 5px solid #1598c0;
}



.second_page {
    height: 100vh;
    background-color: #CFF5E7;
}
.second_page--container{
    margin-top: 10vh;
    height: 100%;
    background-color: #CFF5E7;
    display: flex;
    flex-direction: row;
}
.buttons-panel > input{
    display: none;
}
.buttons-panel > button{
    margin: 3px;
    /* background-color: #59C1BD; */
}
.buttons-panel{
    /* background-color: blue; */
    display: flex;  
    flex-direction: column;
    width: 20lh;
    margin: 20px;
    justify-content: center;
    height: 80vh;
}
.crop--view{
    background-color: #A0E4CB;
    display: flex;
    margin: 20px;
    margin-top: 50px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-radius: 10px;
}

.crop--image{
    /**/
}
canvas{
    display: none;
}

.page--about{
    background-color: #576CBC;
    height: 30vh;
}
.page--about--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.page--about--container > h2 {
    display: inline-block;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}
.page--about--container > h1 {
    /* display: inline-block; */
    margin-top: 2px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*Buttons CSS*/
.buttons-panel > button {
  background-color: #0D4C92;/*#13aa52*/
  /* border: 1px solid #13aa52; */
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  /* font-family:"Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif*; */
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 25px;
  width: 180px;
  margin-left: 80px;
}

.buttons-panel > button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
    .buttons-panel > button {
    padding: 10px 30px;
  }
}